{% extends 'base.html' %}
{%load static %}
{%block content%}

<h1>Add a new Prescriber! </h1>
    <form action="{% url 'storePrescriber' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <!-- NPI --> 
                    <label for='NPI'>Enter the NPI:</label>
                    <input type="text" name='NPI' id='npi' autofocus required>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- first name --> 
                    <label for='first_name'>Enter the first name:</label>
                    <input type="text" name='first_name' id='fname' required>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- last name --> 
                    <label for='last_name'>Enter the last name:</label>
                    <input type="text" name='last_name' id='lname' required>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- gender --> 
                    <label for='prescriber_gender'>Enter the gender:</label>
                    <select name='prescriber_gender' id='gender' required>
                        <option value= "M">Male</option>
                        <option value= "F">Female</option>
                    </select>
                    {% comment %} <input type="text" name='prescriber_gender' id='gender' required> {% endcomment %}
                </td>
            </tr>
            <tr>
                <td>
                    <!-- credentials --> 
                    <label for='prescriber_credentials'>Enter the credentials:</label>
                    <input type="text" name='prescriber_credentials' id='credentials' required>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- location --> 
                    <label for='location'>Enter the State:</label>
                    <input type="text" name='location' id='state' required>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- specialty --> 
                    <label for='prescriber_specialty'>Enter the specialty:</label>
                    <input type="text" name='prescriber_specialty' id='specialty' required>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- ISOPOIOD --> 
                    {% comment %} <label for='opioid_dealer'>Opioid Dealer? (True/False):</label>
                    <input type="text" name='opioid_dealer' id='isopioidprescriber' required> {% endcomment %}

                    {% comment %} <label >Opioid Dealer?</label><br>
                    <input type="radio" id='isopioidprescriber' name='True' value='TRUE' checked>
                    <label for="True">True</label>
                    <input type="radio" id='isopioidprescriber' name='False' value='FALSE'>
                    <label for="False">False</label> {% endcomment %}

                    <label for='opioid_dealer'>Opioid Dealer?</label>
                    <select name='opioid_dealer' id='isopioidprescriber' required>
                        <option value= "TRUE">True</option>
                        <option value= "FALSE">False</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- TOTAL --> 
                    <label for='total'>Enter the total number of prescriptions:</label>
                    <input type="text" name='total' id='totalprescriptions' required>
                </td>
            </tr>
        </table>
        <br><br>
        <input type="submit" value="Submit">
    </form>
        
         <!-- TO CANCEL --> 
        
        <br>
        <form action="{% url 'allPrescribers' %}" method="GET"><input type="submit" value="Cancel"></form>
</div>
{%endblock%}