{% extends 'base.html' %}
{%load static %}
{%block content%}
<div class="row padding">
    <div class="column">
        <h1>ALL PRESCRIBERS</h1>
    </div>
</div>
    

<br>
<br>
<h2>This shows all of our prescribers from the database RAW</h2>
<div >
    {% for prescriber in prescriber_list %}
    <p>
        {{prescriber.fname }}
        {{prescriber.lname }}
        {{prescriber.gender }}
        {{prescriber.state }}
        {{prescriber.credentials }}
        {{prescriber.specialty }}
    </p>
    {% endfor %}
</div> 

<br><br>

<div>
    <table>
        <tr>
            <td><form action=" /addDrink" method="GET">
                <input type="submit" value="Add New Drink">
                </form>
            </td>
            <td>
                <form action="/logout" method="POST">
                    <input type="submit" value="Logout">
                </form>
            </td>
        </tr>
    </table>

    <br><br>
    <h2>This shows all of the prescribers more organized</h2>
    <table>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>State</th> 
            <th>Credentials</th> 
            <th>Specialty</th> 
        </tr>

                   
        <tr>
            <td>
                <input type="button" value="Edit" onclick="editItem(<%=expressVar[i].drinkID%>)">
                <!-- <%=expressVar[i].vehicle_id%> -->
            </td>
            <td style="text-align: center;">
                {% for prescriber in prescriber_list %}
                <p>
                    {{prescriber.fname}}
                </p>
                {% endfor %}
            </td>
            <td style="text-align: center;">
                {% for prescriber in prescriber_list %}
                <p>
                    {{prescriber.lname}}
                </p>
                {% endfor %}
            </td>
            <td style="text-align: center;">
                {% for prescriber in prescriber_list %}
                <p>
                    {{prescriber.gender}}
                </p>
                {% endfor %}
            </td>
            <td style="text-align: center;">
                {% for prescriber in prescriber_list %}
                <p>
                    {{prescriber.state}}
                </p>
                {% endfor %}
            </td>
            <td style="text-align: center;">
                {% for prescriber in prescriber_list %}
                <p>
                    {{prescriber.credentials}}
                </p>
                {% endfor %}
            </td>
            <td style="text-align: center;">
                {% for prescriber in prescriber_list %}
                <p>
                    {{prescriber.specialty}}
                </p>
                {% endfor %}
            </td>
            
</div>
{%endblock%}