{% extends 'base.html' %}
{%load static %}
{% block content %}
<hr>
<div class="container">
<div class="row">
 <div class="col-lg-3 col-md-6 col-12">
   <h2>Lorem ipsum</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis accusamus praesentium eveniet ad unde doloremque ex officia eius ab quibusdam.</p>
 </div>
 <div class="col-lg-3 col-md-6 col-12">
   <h2>Lorem ipsum</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, mollitia natus amet eligendi consequuntur. Veritatis ullam debitis voluptas repellat laboriosam.</p>
 </div>
 <div class="col-lg-3 col-md-6 col-12">
   <h2> Lorem ipsum</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, error, itaque non vel architecto ratione obcaecati doloribus delectus illum harum?</p>
 </div>
 <div class="col-lg-3 col-md-6 col-12">
   <h2>Lorem ipsum</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nam voluptate accusantium nulla distinctio odit aliquam voluptatem ab. Earum.</p>
 </div>
</div>
</div>
<hr>
{%endblock%}