{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br>
<div class="parent">
    <br><br>
    <div>
        <a  href="{% url 'allDrugs' %}"><button>See all drugs</button></a>
        <a  href="{% url 'searchDrug' %}"><button>Search for another drug</button></a>
    </div>
    <br><br>
    {% for drug in our_drugs %}
    <p>  
        {{ drug.drugname }}
        {{ drug.isopioid }}
    </p>
    {% endfor%}
   
</div>
{% endblock %}
<!--
    this needs to show the top 10 prescribers in the database for whatever type of drug is shown.
-->