{% extends 'base.html' %}
{% load static %}
{% block content %}
<div >
    {% for prescriber in our_prescribers %}
    <p>  
        The Doctor {{ prescriber.fname }}
        {{ prescriber.lname }} is a 
        {{ prescriber.gender }} and has the credentials
        {{ prescriber.credentials }} and specializes in 
        {{ prescriber.specialty }}
        <form name='NPI' method="get" action = {% url 'show_prescribed_drugs' %}>
        <label for='NPI' >
        <input type="text"  name='NPI' id='NPI' hidden value={{prescriber.npi}}>
 
    </p>
    {%endfor%}

    <div class="column">
        <button type = submit>Show Prescribed Drugs</button>
    </div>
        </label>
    </form>
</div>
{% endblock %}

<!--
    this needs to show the drugs that they have prescribed, and the average number of each type of drug that all prescribers prescribe.
-->