{% extends 'base.html' %}
{% load static %}
{% block content %}
<div >
    <br><br>
    <a class="nav-link" href="{% url 'allDrugs' %}"><button>See all drugs</button></a>
    <br><br>
    {% for drug in our_drugs %}
    <p>  
        {{ drug.drugname }}
        {{ drug.isopioid }}
    </p>
    {% endfor%}
    <a class="nav-link" href="{% url 'searchDrug' %}"><button>Back</button></a>

</div>
{% endblock %}
<!--
    this needs to show the top 10 prescribers in the database for whatever type of drug is shown.
-->