{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
</style>

<br><br><br>
<a class="mybutton" href="{% url 'searchPrescriber' %}">Search for another prescriber</a>
<br><br>
<h1>Prescriber</h1>

<div>
    <table>
        <tr>
            {% comment %} <th></th>
            <th>NPI</th> {% endcomment %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>State</th> 
            <th>Credentials</th> 
            <th style="text-align: center;">Specialty</th>
            <th>Is Opioid Prescriber?</th> 
            <th>Total Prescriptions</th> 
        </tr>

{% for prescriber in our_prescribers %}           
        <tr>
            <td style="text-align: center;">
                    {{prescriber.fname}}
            </td>
            <td style="text-align: center;">
                    {{prescriber.lname}}
            </td>
            <td style="text-align: center;">
                    {{prescriber.gender}}
            </td>
            <td style="text-align: center;">
                    {{prescriber.state}}
            </td>
            <td style="text-align: center;">
                    {{prescriber.credentials}}
            </td>
            <td style="text-align: center;">
                    {{prescriber.specialty}}
            </td>
            <td style="text-align: center;">
                {{prescriber.isopioidprescriber}}
            </td>
            <td style="text-align: center;">
                {{prescriber.totalprescriptions}}
            </td>
            
        </tr>
    {% endfor %} 
    </table>
</div>
    <br>
    <h1>Drug Information</h1>
<div class = "tablealign">
    <div>
    <table>
        {% comment %} <h1 style="width:100%">Drug Information</h1> {% endcomment %}
        <tr>
            <th style="text-align: center;">Drug Name</th>
            <th style="text-align: center;">Total Count Sold By Prescriber</th>
        </tr>
        {% for Triple in our_drugs %}
        <tr>
            <td style="text-align: center;">

                {{ Triple.drugname }}
            </td>
            <td style="text-align: center;">
                {{ Triple.qtyprescribed }}   
            </td>
        </tr>
    {% comment %} NOT SURE WHAT GOES HERE...JAMES HELP? {% endcomment %}
{% comment %} <tr>  {% endcomment %}

{% comment %} </tr> {% endcomment %}
        {%endfor%}
    </table>
    </div>
    <div>
    <table>
        <th style="text-align: center;">Average Sold by All Prescribers</th>
            {% for average in average%}
            <tr>
                <td style="text-align: center;">
                    {{average}} 
                </td>
            </tr>
            {%endfor%}
    </table>
</div>
</div>


</section>


{% endblock %}



<!-- PAST CODE


{% for prescriber in our_prescribers %}           
<tr>
    {% comment %} <td>
        <a class="mybutton2" href="{% url 'singlePrescriber' NPI=prescriber.npi %}">Edit</a>
    </td>
    <td style="text-align: center;">
        {{prescriber.npi}}
    </td> {% endcomment %}

    <td style="text-align: center;">
            {{prescriber.fname}}
    </td>
    <td style="text-align: center;">
            {{prescriber.lname}}
    </td>
    <td style="text-align: center;">
            {{prescriber.gender}}
    </td>
    <td style="text-align: center;">
            {{prescriber.state}}
    </td>
    <td style="text-align: center;">
            {{prescriber.credentials}}
    </td>
    <td style="text-align: center;">
            {{prescriber.specialty}}
    </td>
    <td style="text-align: center;">
        {{prescriber.isopioidprescriber}}
    </td>
    <td style="text-align: center;">
        {{prescriber.totalprescriptions}}
    </td>
    {% comment %} <td style="text-align: center;">
        {{prescriber.drugname}}
    </td>
    <td style="text-align: center;">
        {{prescriber.qtyprescribed}}
    </td> {% endcomment %}
</tr>
{% endfor %}

-->