{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br>

<div class="parent">
    <div >
        <a class="nav-link" href="{% url 'allPrescribers' %}"><button>See all prescribers</button></a>
        <a class="nav-link" href="{% url 'searchPrescriber' %}"><button>Search for another prescriber</button></a>
    </div>
    
    <br><br><br><br>  <br><br>  <br><br>    
    <div class="card2">
        <div class="tablesize-p" style="overflow-x:auto;">
            {% for prescriber in our_prescribers %}
            <p >  
                {{ prescriber.npi }}
                {{ prescriber.fname }}
                {{ prescriber.lname }}
                {{ prescriber.gender }}
                {{ prescriber.credentials }}
                {{ prescriber.state }}
                {{ prescriber.specialty }}
                {{prescriber.isopioidprescriber}}
                {{prescriber.totalprescriptions}}
                <form name='NPI' method="get" action = {% url 'show_prescribed_drugs' %}>
                    <label for='NPI' ></label>
                    <input type="text"  name='NPI' id='NPI' hidden value={{prescriber.npi}}> 
                    <div class="column">
                        <button type = "submit">Show Prescribed Drugs</button>
                    </div>
                </form>

            </p>
            {%endfor%}
        
            

            {% comment %} {% for triple in our_drugs %}
            <p>

                {% if  prescriber.npi == triple.npi %}

                    {{triple.drugname}}
                    {{triple.qtyprescribed}}

                {% endif %}    
            </p>
            {% endfor %} {% endcomment %}


        </div>
    </div>
</div>

{% endblock %}

<!--
    this needs to show the drugs that they have prescribed, and the average number of each type of drug that all prescribers prescribe.
-->