{% extends 'base.html' %}
{%load static %}
{% block content %}
<!-- 

GOOD IDEAS
--- https://www.hhs.gov/overdose-prevention/
---
---
---


TOP LEFT
-- Logo  
TOP RIGHT 
-- search bar

    LINKS 
------ HOME    ------ ABOUT ------ GRAPHS? -----
1. Put a description or VIDEO? of WHY this is important
2. Explain what the APP does (our motto/ slogan) 
    -- this helps UH view data
    -- NEED to view prescriptions being made (for government and doctors)
    -- PORTAL
    --

3. Dynamic graphs that update
4. 





 -->


<div class="row padding">
    <div class="column">
        <h1>HOME</h1>
    </div>
</div>
    

<br>
<br>
<h2>Welcome to Our Home page!</h2>
<div class="row padding">
    <div class="column">
        <a class="nav-link" href="{% url 'allDrugs'  %}"><button>Show All Drugs</button></a>
    </div>
    <div class="column">
        <a class="nav-link" href="{% url 'allPrescribers' %}"><button>Show All Prescribers</button></a>
    </div>
    <div class="column">
        <a class="nav-link" href="{% url 'searchPrescriber' %}"><button>Find A Prescriber</button></a>
    </div>
    <div class="column">
        <a class="nav-link" href="{% url 'searchDrug' %}"><button>Find A Drug</button></a>
    </div>
    
</div>

{%endblock%}
