{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
{% comment %} Go back to prescriber page {% endcomment %}
<br><br>
<a class="mybutton" href="{% url 'allPrescribers' %}">See all Prescribers</a>
<br><br>
<div class="parent">
    <form name="form" method="get" action="{% url 'displayPrescriber' %}">
        <h2>Search For A Prescriber</h2>

        <!-- first name --> 
        <label for='first_name'>Enter the first name:</label>
        <input type="text" name='first_name' id='fname' autofocus>
        <br><br>
        <!-- last name --> 
        <label for='last_name'>Enter the last name:</label>
        <input type="text" name='last_name' id='lname' >
        <br><br>
       
        <button class="mybutton" type="submit">Search</button>
        <button class="mybutton" type="reset">Clear</button>
      
    </form>

</div>  
   
{% endblock %}