{%load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Know Opioids</title>
    <link rel="shortcut icon" href="{% static 'img/KnowOpioids.png'%}">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-4.4.1.css'%}" rel="stylesheet">
    <link href="{% static 'css/our.css'%}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="searchbar">
      <a href="{% url 'index'%}"><img src="{% static 'img/KnowOpioids.png'%}"><a/>
        
        <a class="collect" >Data Collection For Known Drugs</box>
        <a class="collect" href="{% url 'allPrescribers' %}">Who  Prescribes?</a>
        <a class="collect" href="{% url 'allDrugs' %}">Common Opioids</a>
        {% comment %} <a class="collect" href="{% url 'contact' %}">Contact Us</a> {% endcomment %}
        
    {% comment %} <input class="searchbox" placeholder="Search the database"> {% endcomment %}
  </div> 
    
    <!-- This is what will link to the other pages-->
    {%block content%}
    {%endblock%}


    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br>
    {% comment %} <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>   {% endcomment %}

<!-- FOOTER -->
<div class="daddy">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-md-0 mb-2">
          <h2 id="contactbottom">Contact Us</h2>
          <address>
            <strong>BYU IS</strong><br>
            Brigham Young University, Ernest L. Wilkinson Student Center, 1 Campus Dr #1944, Provo, UT 84604, PO BOX 12345<br>
          <u>Phone : 385-333-439</u>
          </address>
          <h4>Our Supporters&nbsp;</h4>
          <div class="row">
            <div class="col-2"><img class="rounded-circle" src="../BFD_WebDev/images/32X32.gif" alt=""></div>
            <div class="col-2"><img class="rounded-circle" src="../BFD_WebDev/images/32X32.gif" alt=""></div>
            <div class="col-2"><img class="rounded-circle" src="../BFD_WebDev/images/32X32.gif" alt=""></div>
            <div class="col-2"><img class="rounded-circle" src="../BFD_WebDev/images/32X32.gif" alt=""></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <h2 id='testimonials'>Testimonials</h2>
          <ul class="list-unstyled">
            <li class="media">
              <img class="mr-3" src="../BFD_WebDev/images/35X35.gif" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Heading 1</h5>
                <p class="mb-0">We should quote tikTokers! hahaha&nbsp;</p>
              </div>
            </li>
            <li class="media my-4">
              <img class="mr-3" src="../BFD_WebDev/images/35X35.gif" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Heading 2</h5>
                <p class="mb-0">And then quote the boring lady&nbsp;&nbsp;</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-12">
          <h2 id='aboutUs'>About Us</h2>
          <p>Group I-8 recognized a massive need for the publication of this data. We knew that if we didn't deploy by Friday, Dec 3, then 50 other similar websites with the same data was going to rise from the dust and steal our troph. So we acted fast and promptly. And now, hopefully we win the prize in tex....as ?!?!?!&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
          <p>More important, government officials and public health offices have made known to the rising concern of prescription drug abuse and reached out to us for help in creating the tool for health professionals, government agencies and citizens alike.&nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
      </div>
    </div>
    <hr>
      <footer class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>Copyright © Group I-8. All rights reserved.</p>
            </div>
          </div>
        </div>
    </footer>
</div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/parallax.js-1.5.0/parallax.js-1.5.0/parallax.js'%}"></script>
    <script src="{% static 'js/parallax.js-1.5.0/parallax.js-1.5.0/parallax.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/our.js'%}"></script>
    <script src="{% static 'js/bootstrap-4.4.1.js'%}"></script>
  </body>
  </html>